@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
    margin: auto;
    display: table;
    background-color: #002b36;
}

body {
    font-family: Inconsolata, Consolas, "Courier New", monospace;
    color: #839496;
}

h1 {
    font-variant: small-caps;
    border-bottom: 1px solid;
}

:link {
    color: #b58900;
}

:visited {
    color: #cb4b16;
}

:link:hover {
    background-color: #073642;
}
